# Virtual environment
venv/
.venv/
ENV/
env/
.env

.env

# Caches & compiled
*.pyo
*.pyd
*.pkl

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/
__pycache__

__pycache__/
*.pyc


# Docker
.Dockerfile
.dockerignore
.env
__pycache__/
